/******************************
	General GUI
 ******************************/

 .mpcf-active #edittag {
 	max-width: initial;
 }

.mpcf-tax-box {
	width: 95%;
	margin-bottom: 24px;
	background: #FFF;
	border: 1px solid #E5E5E5;
	box-shadow: 0 1px 1px rgba(0,0,0,0.04);
}

.mpcf-tax-box .mpcf-tax-box-title {
	padding: 8px 12px;
	margin: 0;
	border-bottom: 1px solid #eee;
	font-size: 14px;
	line-height: 1.4;
	user-select: none;
}

.mpcf-parent {}

.mpcf-options {
	margin-right: 20px;
}

.mpcf-options > form > #message {
	margin: 5px 22px 2px 0;
}

.mpcf-panels {
	display: flex;
	width: calc(100% + 14px);
	height: calc(100% + 24px);
	margin: -6px 0 0 -14px;
}

.mpcf-options .mpcf-panels {
	position: relative;
	width: calc(100% - 22px);
	margin: 20px 0;
	padding: 0;
	border: 1px solid #E5E5E5;
	box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	line-height: 1;
	background: #FFF;
}

.mpcf-tax-box .mpcf-panels {
	position: relative;
	width: calc(100% - 22px);
	margin: 0;
	padding: 0;
	line-height: 1;
	background: #FFF;
}

.mpcf-panels-menu {
	width: 25%;
	max-width: 250px;
	margin: 0 10px -12px 0;
	padding: 20px 0 0 0;
	background: #F5F5F5;
	border-right: 1px solid #DDD;
}

.mpcf-options .mpcf-panels-menu,
.mpcf-tax-box .mpcf-panels-menu {
	margin-bottom: 0;
}

.mpcf-panels-menu li {
	position: relative;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 12px 0 12px 12px;
	cursor: pointer;
	color: #666;
	background: #F5F5F5;
	border-top: 1px solid #DDD;
	user-select: none;
}

.mpcf-panels-menu li:last-child {
	border-bottom: 1px solid #DDD;
}

.mpcf-panels-menu li.active {
	background: #FFF;
	color: #000;
	font-weight: bold;
	margin-right: -1px;
	border-right: 1px solid #FFF;
	border-left: 1px solid #DDD;
}

.mpcf-panels-menu li:not(.active):hover .mpcf-panel-title {
	color: #0073AA;
}

.mpcf-panel-icon {
	position: relative;
	width: 20px;
	height: 20px;
	margin-right: 8px;
}

.mpcf-panel-icon-svg {
	background-size: contain;
	background-repeat: no-repeat;
}

.mpcf-panels-menu li.active .mpcf-panel-icon {
	color: #0073AA;
}

.mpcf-panels-menu li.active:before,
.mpcf-panels-menu li.active:after,
.mpcf-panels-menu li.active .mpcf-panel-icon:after {
	content: '';
}

.mpcf-panels-menu li.active:before,
.mpcf-panels-menu li.active:after,
.mpcf-panels-menu li.active .mpcf-panel-icon:before,
.mpcf-panels-menu li.active .mpcf-panel-icon:after {
	position: absolute;
	bottom: -10px;
	right: -1px;
	z-index: 1;

	display: block;
	width: 10px;
	height: 10px;
	background-color: #FFF;
	border-right: 1px solid #FFF;
}

.mpcf-panels-menu li.active:not(:last-child):after {
	bottom: -11px;
	background-color: #F5F5F5;
	border-top: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-top-right-radius: 10px;
}

.mpcf-panels-menu li.active:last-child:before,
.mpcf-panels-menu li.active:last-child:after {
	display: none;
}

.mpcf-panels-menu li.active .mpcf-panel-icon:before,
.mpcf-panels-menu li.active .mpcf-panel-icon:after {
	bottom: -13px;
	left: -13px;
	right: initial;
	background-color: #F5F5F5;
}

.mpcf-panels-menu li.active .mpcf-panel-icon:before {
	z-index: 2;
	padding: 0 0 22px 12px;
	background-color: #FFF;
	border-bottom-left-radius: 10px;
	border-bottom: 1px solid #DDD;
	border-left: 1px solid #DDD;
}

.mpcf-panels-menu li.active .mpcf-panel-icon-svg:before {
	content: '';
	padding: 0;
}

.mpcf-panel-icon img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center center;
}

.mpcf-panel-title:first-child {
	margin-left: 28px;
}

.mpcf-panels-tabs {
	width: calc(100% - 40px);
	max-width: 1000px;
	margin: 35px 20px 20px 20px;
}

.mpcf-options .mpcf-panels-tabs {
	padding-right: 45px;
}

.mpcf-panel {
	display: none;
}

.mpcf-panel.active-panel {
	display: block;
}


/******************************
	General fields
 ******************************/

.mpcf-field-option,
.mpcf-conditional-choice {
	display: flex;
	align-items: baseline;	
	margin-bottom: 15px;
	width: 100%;
}

.mpcf-field-option.mpcf-textarea-input,
.mpcf-field-option.mpcf-media-input,
.mpcf-field-option.mpcf-repeater-input {
	align-items: flex-start;
}

.mpcf-required {}

.mpcf-title {
	width: 15%;
	min-width: 130px;
	margin-right: 20px;
}

.mpcf-required .mpcf-title label:after {
	content: ' *';
	color: #F00;
}

.mpcf-field {
	width: calc(82% - 20px);
}

.mpcf-text-input .mpcf-field,
.mpcf-number-input .mpcf-field,
.mpcf-date-input .mpcf-field,
.mpcf-datetime-input .mpcf-field,
.mpcf-time-input .mpcf-field,
.mpcf-email-input .mpcf-field {
	display: flex;
	flex-wrap: wrap;
}

.mpcf-field .mpcf-field {
	width: 100%;
}

.mpcf-subfield {
	display: flex;
	justify-content: space-between;
}

.mpcf-field input[type="text"],
.mpcf-field input[type="number"],
.mpcf-field input[type="date"],
.mpcf-field input[type="datetime"],
.mpcf-field input[type="time"],
.mpcf-field input[type="email"] {
	width: auto;
	min-width: calc(100% - 151px);
	flex-grow: 1;
	margin-right: 20px;
}

.mpcf-field textarea {
	width: 100%;
}

.mpcf-description {
	margin: 20px 0;
	font-style: oblique;
	line-height: 1.3;
}

.mpcf-text-input .mpcf-description,
.mpcf-number-input .mpcf-description,
.mpcf-date-input .mpcf-description,
.mpcf-datetime-input .mpcf-description,
.mpcf-time-input .mpcfdescription,
.mpcf-email-input .mpcfdescription {
	position: relative;
	top: 6px;
	max-width: 100%;
	min-width: 130px;
	margin: 0 0 10px;
	flex-shrink: 0;
}

.mpcf-nohtml5-description {
	display: none;
}

.mpcf-nohtml5 .mpcf-nohtml5-description {
	display: inline-block;
	margin-left: 10px;
	font-style: oblique;
}

.mpcf-button {
	display: inline-block;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	border: 0;
	border-radius: 0;
	background: transparent;
	color: #0073AA;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;

	-webkit-transition: color 0.3s ease;
	   -moz-transition: color 0.3s ease;
	     -o-transition: color 0.3s ease;
			transition: color 0.3s ease;
}

.mpcf-button + .mpcf-button:not(.mpcf-clearmedia) {
	margin-left: 10px;
}

.mpcf-button:hover,
.mpcf-button:focus {
	color: #00A8A5;
	outline: none;
}

.mpcf-options-inputs {
	margin: 20px 0 0 28px;
}

.mpcf-required-hint {
	margin-top: 40px;
	color: #F00;
}

.mpcf-loading-container {
	display: none;
}

.mpcf-loading-container.mpcf-loading-active,
.mpcf-loading-container.mpcf-loading-active:before,
.mpcf-loading-container.mpcf-loading-active:after {
	border-radius: 50%;
}

.mpcf-loading-container.mpcf-loading-active {
	position: relative;
	display: block;
	margin: 55px auto;
	width: 5em;
	height: 5em;
	color: #0073AA;
	font-size: 11px;
	box-shadow: inset 0 0 0 0.5em;
	-webkit-transform: translateZ(0);
	    -ms-transform: translateZ(0);
	        transform: translateZ(0);
}

.mpcf-loading-container.mpcf-loading-active:before,
.mpcf-loading-container.mpcf-loading-active:after {
	content: '';
	position: absolute;
	width: 2.6em;
	height: 5.1em;
	background: #FFF;
}

.mpcf-loading-container.mpcf-loading-active:before {
	top: -0.05em;
	left: -0.05em;
	border-radius: 5.1em 0 0 5.1em;
	-webkit-transform-origin: 2.6em 2.55em;
			transform-origin: 2.6em 2.55em;
	-webkit-animation: loading 2s infinite ease 1.5s;
			animation: loading 2s infinite ease 1.5s;
}

.mpcf-loading-container.mpcf-loading-active:after {
	top: -0.05em;
	left: 2.55em;
	border-radius: 0 5.1em 5.1em 0;
	-webkit-transform-origin: 0px 2.55em;
			transform-origin: 0px 2.55em;
	-webkit-animation: loading 2s infinite ease;
			animation: loading 2s infinite ease;
}

@-webkit-keyframes loading {
	0%   { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes loading {
	0%   { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}



.mpcf-tooltip {
	position: relative;
	margin-left: 16px;
}

.mpcf-tooltip:before {
	content: "\f223";
	position: absolute;
	top: 50%;
	width: 24px;
	height: 24px;
	transform: translateY(-50%);

	font-family: dashicons;
	font-size: 24px;
	color: #AAA;
	cursor: pointer;
}

.mpcf-tooltip:after {
	content: attr(data-tooltip);
	position: absolute;
	top: 50%;
	left: 34px;
	transform: translateY(-50%);
	padding: 5px 15px;

	min-width: 200px;
	max-width: 400px;

	background: #E9E9E9;
	color: #000000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	font-size: 11px;
	line-height: 1.3;
	opacity: 0;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.mpcf-tooltip:hover:after {
	opacity: 1;
}

@media (max-width: 1349px) {
	.mpcf-field-option {
		flex-direction: column;
	}

	.mpcf-title {
		width: 100%;
		margin: 0 0 20px;
		font-weight: bold;
	}

	.mpcf-field {
		width: 100%;
	}
}

@media (max-width: 1129px) {
	.mpcf-panels {
		flex-direction: column;
		width: calc(100% + 28px);
		margin: -7px 0 0 -14px;
	}

	.mpcf-panels-menu {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		max-width: 100%;
		margin: 0;
		padding: 0;
		border-right: none;
	}

	.mpcf-panels-menu li {
		padding-right: 12px;

		margin-right: -1px;
		border-left: 1px solid #DDD;
		border-bottom: 1px solid #DDD;
	}

	.mpcf-panels-menu li:last-child {
		border-right: 1px solid #DDD;
	}

	.mpcf-panels-menu li:after,
	.mpcf-panels-menu li.active:not(:last-child):after,
	.mpcf-panels-menu li.active:before {
		display: none;
	}

	.mpcf-panels-menu li:before,
	.mpcf-panels-menu li .mpcf-panel-icon:before {
		position: absolute;
		bottom: -10px;
		right: -1px;
		z-index: 1;
		display: block;
		width: 10px;
		height: 10px;
	}

	.mpcf-panels-menu li .mpcf-panel-icon:before {
		bottom: -13px;
		left: -13px;
		right: initial;
		z-index: 2;
		padding: 0 0 22px 12px;

		border-bottom-left-radius: 10px;
		border-bottom: 1px solid #DDD;
		border-left: 1px solid #DDD;
		background-color: #F5F5F5;
	}
}




/******************************
	Specific fields
 ******************************/

.mpcf-textarea textarea {
	resize: vertical;
	min-height: 75px;
}

.mpcf-editor {
	padding-top: 10px;
}

.mpcf-editor-instance {
	display: none;
}

.mpcf-radio-option + .mpcf-radio-option {
	margin-top: 5px;
}

.mpcf-hidden-input {
	margin-bottom: 0;
}


/******************************
	Media picker
 ******************************/

.mpcf-mediapicker {
	display: flex;
	flex-wrap: wrap;
}

.mpcf-mediapicker .mpcf-description {
	width: 100%;
}

.mpcf-preview-content:not(.mpcf-preview-content-file) {
	position: relative;
	margin-right: 20px;
	border: 1px dotted #DDD;
}

.mpcf-preview-content:not(.mpcf-preview-content-file):before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 40px;
	line-height: 1;
	color: #DDD;
}

.mpcf-repeater-row:nth-child(2n) .mpcf-preview-content:not(.mpcf-preview-content-file) {
	border-color: #CCC;
}

.mpcf-repeater-row:nth-child(2n) .mpcf-preview-content:not(.mpcf-preview-content-file):before {
	color: #CCC;
}

.mpcf-preview-content-file {
	width: 100%;
	margin-bottom: 10px;
}

.mpcf-preview-content-file .filename {
	cursor: pointer;
	font-weight: bold;
}

.mpcf-preview-content-file .filesize {
	color: #CCC;
}

.mpcf-preview-content-file .filename:not(:empty) + .filesize {
	margin-left: 1em;
}

.mpcf-imagepreview,
.mpcf-videopreview {
	position: relative;
	display: block;
	width: 160px;
	height: auto;
	z-index: 2;
	cursor: pointer;
}

.mpcf-imagepreview.hidden,
.mpcf-videopreview.hidden,
.mpcf-clearmedia.hidden,
.mpcf-clearfile.hidden {
	display: none;
}

.mpcf-imagepreview[src=""] {
	opacity: 0;
	height: 120px;
}

.mpcf-videopreview {}

.mpcf-content-buttons {
	width: 100px;
}


/******************************
	Map
 ******************************/

.mpcf-map {
	width: 100%;
	height: 300px;
	margin-top: 10px;
}

.mpcf-inactive .mpcf-nomap {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	border: 1px dotted #DDD;
	box-sizing: border-box;
	font-style: oblique;
}


/******************************
	File picker
 ******************************/

.mpcf-file-input .mpcf-field {
	margin-top: 4px;
}

.mpcf-file-picker {
	position: absolute;
	z-index: -1;
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
}

.mpcf-file-picker + label {
	cursor: pointer;
}

.mpcf-file-picker:focus + label,
.mpcf-file-picker.focus + label,
.mpcf-file-picker + label:hover {
	color: #00A8A5;
	outline: none;
}

body.no-js .mpcf-file-picker + label {
	display: none;
}

.mpcf-filepicker .mpcf-content-buttons {
	width: auto;
}


/******************************
	Checkbox
 ******************************/

.mpcf-checkbox-input .mpcf-field input {
	position: relative;
	top: 2px;
}




/****************************************
	Button group and Image button group
 ****************************************/

.mpcf-imagebuttongroup-input {
	align-items: flex-start;
}

.mpcf-buttongroup-wrapper {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.mpcf-buttongroup-option input {
	position: absolute;
	z-index: -1;
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
}

.mpcf-buttongroup-option input:before,
.mpcf-buttongroup-option input:checked:before {
	content: none;
}

.mpcf-buttongroup-option label {
	display: block;
	padding: 5px 8px;
	border: 1px solid #DDD;
	background-color: #F5F5F5;
	box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	user-select: none;
}

.mpcf-buttongroup-option + .mpcf-buttongroup-option label {
	border-left: 0;
}

.mpcf-buttongroup-option:first-child label {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.mpcf-buttongroup-option:last-child label {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.mpcf-buttongroup-input .mpcf-field input:checked + label,
.mpcf-buttongroup-input .mpcf-field input:focus + label {
	border-color: #0073AA #006799 #006799;
	background-color: #0073AA;
	color: #FFF;
	text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
}

.mpcf-buttongroup-input .mpcf-field input:focus + label {
	border-color: #5B9DD9;
	box-shadow: 0 0 2px rgba(30,140,190,.8);
}

/*** Image button group ***/

.mpcf-imagebuttongroup-input .mpcf-field label {
	position: relative;
	min-width: 80px;
	height: 0;
	padding-bottom: 60%;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 2px solid #DDD;
	transition: 0.2s ease border-bottom;
}

.mpcf-imagebuttongroup-input .mpcf-field label.mpcf-has-svg-icon {
	transition: 0.2s background-image ease;
}

.mpcf-imagebuttongroup-input .mpcf-field label:not(.dashicons):not(.mpcf-has-svg-icon):before {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background-color: #007CBA;
	opacity: 0;
	mix-blend-mode: multiply;
	transition: 0.2s opacity ease;
}

.mpcf-imagebuttongroup-input .mpcf-field input:checked + label:not(.dashicons):not(.mpcf-has-svg-icon):before {
	opacity: 0.5;
}

.mpcf-imagebuttongroup-input .mpcf-field input:checked + label:not(.mpcf-has-svg-icon),
.mpcf-imagebuttongroup-input .mpcf-field input:focus + label:not(.mpcf-has-svg-icon) {
	border-bottom: 2px solid #007CBA;
}

.mpcf-imagebuttongroup-input .mpcf-field label:not(.mpcf-has-svg-icon):before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 40px;
	transition: 0.2s ease color;
}

.mpcf-imagebuttongroup-input .mpcf-field input:checked + label:not(.mpcf-has-svg-icon):before,
.mpcf-imagebuttongroup-input .mpcf-field input:focus + label:not(.mpcf-has-svg-icon):before {
	color: #007CBA;
	border-bottom-color: currentColor;
}



/******************************
	True/false button
 ******************************/

.mpcf-buttongroup-input .mpcf-truefalse-option:first-child input:checked + label,
.mpcf-buttongroup-input .mpcf-truefalse-option:first-child input:focus + label {
	border-color: #46B450 #42A94A #42A94A;
	background-color: #46B450;
	color: #FFF;
	text-shadow: 0 -1px 1px #42A94A, 1px 0 1px #42A94A, 0 1px 1px #42A94A, -1px 0 1px #42A94A;
}

.mpcf-buttongroup-input .mpcf-truefalse-option:last-child input:checked + label,
.mpcf-buttongroup-input .mpcf-truefalse-option:last-child input:focus + label {
	border-color: #DC3232 #AA0000 #AA0000;
	background-color: #DC3232;
	color: #FFF;
	text-shadow: 0 -1px 1px #AA0000, 1px 0 1px #AA0000, 0 1px 1px #AA0000, -1px 0 1px #AA0000;
}



/******************************
	Repeater
 ******************************/

.mpcf-repeater-input .mpcf-field {
	margin-left: 0px;
	width: 100%;
}

.mpcf-repeater-input .mpcf-repeater-input {
	width: calc(100% + 16px);
}

.mpcf-repeater-wrapper {
	position: relative;
	margin: -16px 0 0;
	counter-reset: section;
}

.mpcf-repeater-wrapper .mpcf-repeater-wrapper {
	counter-reset: subsection
}

.mpcf-repeater-row {
	position: relative;
	width: calc(100% - 60px);
	left: -1px;
	padding: 11px 40px 16px 38px;
	margin-bottom: 0;
	border-bottom: 1px solid #DDD;
	list-style-type: none;
}

.mpcf-repeater-wrapper li:before {
	content: counter(section) ". ";
	position: absolute;
	top: 18px;
	left: 16px;
	counter-increment: section;
	z-index: 2;
}

.mpcf-repeater-wrapper .mpcf-repeater-wrapper li:before {
	content: counter(subsection) ". ";
	counter-increment: subsection;
}

.mpcf-repeater-wrapper li:nth-child(2n) {
	background-color: #F5F5F5;
}

.mpcf-repeater-row.dragover {
	position: relative;
	padding-top: calc(5rem + 16px);
	background-color: #E5E5E5;
}

.mpcf-repeater-wrapper li.dragover:before {
	top: calc(5rem + 18px);
}

.mpcf-repeater-row.dragover:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 5rem;
	width: 100%;
	z-index: 1;

	border-bottom: 1px solid #DDD;
	background-color: white;
}

.mpcf-repeater-row.dragged {
	background-color: #F0F0F0;
}

.mpcf-repeater-row > .mpcf-field-option:nth-last-child(2) {
	margin-bottom: 0;
}

.mpcf-repeater-row-controls {
	position: absolute;
	top: 3px;
	right: 1px;
	padding: 3px 3px 3px 10px;
	opacity: 0;
}

.mpcf-repeater-wrapper li:hover > .mpcf-repeater-row-controls,
.mpcf-repeater-wrapper li:focus > .mpcf-repeater-row-controls,
.mpcf-repeater-wrapper li:focus-within > .mpcf-repeater-row-controls {
	opacity: 1;
}

.mpcf-repeater-row-controls div {
	width: 20px;
	height: 20px;
	border: 1px solid #DDD;
	border-radius: 50%;
	cursor: pointer
}

.mpcf-repeater-row-controls div + div {
	margin-top: 4px;
}

.mpcf-repeater-row-controls div:before {
	vertical-align: middle;
	color: #888;
	font-size: 15px;
	line-height: 1.3;
}

.mpcf-repeater-controls {
	margin: 16px 0 0 38px;
}

.mpcf-repeater-controls:last-child {
	margin-bottom: 16px;
}

.mpcf-repeater-wrapper.empty ~ .mpcf-repeater-controls {
	margin-left: 10px;
}

.mpcf-repeater-input > .mpcf-field > .mpcf-description {
	margin-left: 38px;
}

@media (max-width: 1349px) {
	.mpcf-repeater-row {
		padding-left: 0;
	}

	.mpcf-repeater-wrapper li:before {
		left: -20px;
	}
}



/******************************
	Conditional
 ******************************/

.mpcf-conditional-wrapper {
	padding-top: 32px;
}

.mpcf-conditional-wrapper:empty {
	display: none;
}

.mpcf-conditional-wrapper:not(:empty) {
	border-top: 1px solid #DDD;
}



/******************************
	Drag and drop list
 ******************************/

.mpcf-drag-drop-list-container {
	display: flex;
	align-items: flex-start;
}

.mpcf-drag-drop-list-column {
	min-width: 150px;
	width: calc(50% - 16px);
}

.mpcf-drag-drop-list-column:first-child {
	margin-right: 32px;
}

.mpcf-drag-drop-list-column-header {
	font-weight: bold;
}

.mpcf-drag-drop-list-sublist {
	display: inline-block;
	width: 100%;
	min-width: 150px;
	min-height: 30px;
	margin: 10px 0 0;
	padding: 5px 0 0 0;
	border: 1px dotted #AAA;
	list-style-type: none;
}

.mpcf-drag-drop-list-sublist:empty {
	background: repeating-linear-gradient(45deg, #F8F8F8, #F8F8F8 30px, #FFF 30px, #FFF 45px);
}

.mpcf-drag-drop-list-sublist li {
	margin: 0 5px 5px 5px;
	padding: 5px;
	border: 1px solid #AAA;
	cursor: pointer;
}

.mpcf-drag-drop-list-sublist li.ui-sortable-helper {
	border: 1px dotted #AAA;
	color: #FFF;
	background-color: #0073AA;
}

.mpcf-drag-drop-list-sublist li.sortable-placeholder {
	background-color: #E0E0E0;
	min-height: 18px;
}

.sorting {
	opacity: 0.8;
}

.mpcf-drag-drop-list-remaining .mpcf-drag-drop-list-item {
	color: #999;
	border-color: #CCC;
}



/******************************
	Select
 ******************************/

.mpcf-select-input select {
	padding: 5px 0;
	width: 100%;
}

.mpcf-select-input option {
	padding: 0 10px;
}



/******************************
	Table
 ******************************/

.mpcf-table-inner {
	position: relative;
	width: 100%;
}

.mpcf-table-inner.has-heading {
	top: 5px;
}

.mpcf-table-inner.has-no-heading {
	top: 13px;
}

.mpcf-table-inner th {
	padding-bottom: 10px;
	text-align: left;
	font-weight: normal;
	font-style: oblique;
}




